<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Demo_Riddle"
        tools:targetApi="31">
        <activity
            android:name=".SecondActivty"
            android:exported="false"
            android:label="@string/title_activity_second_activty"
            android:theme="@style/Theme.Demo_Riddle" />
        <activity
            android:name=".Demo_data_passing_test"
            android:exported="false"
            android:label="@string/title_activity_demo_data_passing_test"
            android:theme="@style/Theme.Demo_Riddle" />
        <activity
            android:name=".AnswerActivity2"
            android:exported="false"
            android:label="@string/title_activity_answer2"
            android:theme="@style/Theme.Demo_Riddle" />
        <activity
            android:name=".AnswerActivity1"
            android:exported="false"
            android:label="@string/title_activity_answer1"
            android:theme="@style/Theme.Demo_Riddle" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>